body {
    margin: 0px;
    background-color: #312F2F;
    min-width: 1000px;
}

.main_content,
.bottom_foot,
.top_head {
    width: 100%;
}

.top_head {
    height: 120px;
    background-color: #961010;
    margin: 0px;
    position: relative;
    top: 0xp;
    left: 0px;
}

.head_title {
    display: inline-block;
    margin-left: 40px;
    margin-top: 5px;
}

.cname {
    font-family: 'STLiti';
    font-size: 30px;
    position: relative;
    top: -10px;
}

.nav_line {
    display: inline-block;
    position: absolute;
    right: 18%;
    bottom: 2px;
    width: 10%;
    /* border:2px solid blue;*/
}

.status {
    display: inline-block;
    width: 40%;
    text-align: center;
    /*border: 2px solid blue;*/
    border-radius: 3px;
    margin-left: 5px;
    box-shadow: 0px 0px 4px 2px #3B0909;
    cursor:pointer;
}

.status:hover{
    background-color: #4040A3;
}

.head_img {
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
}
/*******************************************************************************************/

.slide,
.money_tree {
    width: 100%;
    position: relative;
    left: 0px;
    top: 20px;
    overflow: hidden;
    margin-bottom: 40px;
}

.pre_img,
.next_img {
    display: inline-block;
    width: 15%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #312f2f;
    border-radius: 3px;
    opacity: 0.4;
}

.pre_img {
    left: 5%;
}

.next_img {
    right: 5%;
}

.active_img {
    position: absolute;
    display: inline-block;
    width: 50%;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid #312f2f;
    border-radius: 9px;
}

.pre_btn,
.next_btn {
    display: inline-block;
    width: 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 3px;
    visibility: hidden;
}

.pre_btn {
    left: 1%;
}

.next_btn {
    right: 1%;
}

.pre_btn:hover,
.next_btn:hover {
    border: 3px solid rgb(184, 168, 168);
    border-radius: 3px;
    background-color: rgb(184, 168, 168);
}

.support_height {
    display: inline-block;
    width: 50%;
    border: 3px solid #312f2f;
    visibility: hidden;
}

.wait_img {
    display: inline-block;
    position: absolute;
    width: 15%;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #312f2f;
    border-radius: 3px;
    opacity: 0.4;
}

.pre_wait {
    left: -20%;
}

.next_wait {
    right: -20%;
}
/*************************************************************************************/

.money_tree {
    top: 10px;
}

.tree {
    display: inline-block;
    width: 28%;
}

.tree_hide {
    visibility: hidden;
    margin-top: 50px;
}

.tree_show {
    position: absolute;
    left: 10%;
    top: 50px;
}

.total {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 10px;
    padding: 10px;
}

.total span {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #B8A8A8;
    border-radius: 3px;
}

.title_head {
    text-align: center;
    font-family: 'STHupo';
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.item_name {
    display: inline-block;
    position: absolute;
    font-family: 'STCaiyun';
    color: #F50E25;
    font-size: 25px;
    letter-spacing: 5px;
    cursor: pointer;
}

.item_name:hover {
    font-family: 'STHupo';
    color: black;
}

.inout_list {
    top: 25.8%;
    left: 18.9%;
}

.in {
    top: 38%;
    left: 15.5%;
}

.out {
    top: 32%;
    left: 28%;
}
/********************************************************************************************/

.item_list {
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 45px;
    width: 40%;
    height: 90%;
    border: 1px solid white;
    border-radius: 5px;

    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    text-align: center;
    overflow-y: scroll;
}

.item_list tr,
.item_list tbody {
    width: 100%;
}

.item_list tr td {
    width: 16%;
}

.item_list tr :first-child {
    width: 8%;
}

/**************************************************************************************************************/
/*******************************************************************************************************************/

.bottom_foot {
    background-color: #861010;
    margin: 0px;
    height: 150px;
    position: relative;
    text-align: center;
    top: 0px;
    left: 0px;
}

.footer_img {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
}

.footer_text {
    display: inline-block;
    margin-top: 20px;
    vertical-align: middle;
    margin-bottom: 10px;
}